---
import Hero from '../home/Hero.astro';
import FeaturedProducts from '../home/FeaturedProducts.astro';
import About from '../home/About.astro';
import WhyChooseUs from '../home/WhyChooseUs.astro';
import PetTestimonials from '../home/PetTestimonials.astro';
---

<div class="flex flex-col">
  <Hero />
  <About />
  <WhyChooseUs />
  <FeaturedProducts />
  <PetTestimonials />
</div>