---
import Hero from '../home/Hero.astro';
import About from '../home/About.astro';
import WhyChooseUs from '../home/WhyChooseUs.astro';
import FeaturedProducts from '../home/FeaturedProducts.astro';
---

<div class="space-y-0">
  <Hero />
  <About />
  <WhyChooseUs />
  <FeaturedProducts />
</div>